<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <listener>
    <listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
  </listener>

  <display-name>acmeair-webapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <filter>
    <filter-name>CookieFilter</filter-name>
    <filter-class>com.acmeair.web.RESTCookieSessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CookieFilter</filter-name>
    <url-pattern>/rest/api/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>AppConfig</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
      <init-param>
        <!-- Points to your JAX-RS Application class -->
        <param-name>jakarta.ws.rs.Application</param-name>
        <param-value>com.acmeair.web.AppConfig</param-value>
      </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppConfig</servlet-name>
    <url-pattern>/rest/info/*</url-pattern>
  </servlet-mapping>

   <servlet>
    <servlet-name>AcmeAirApp</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
      <init-param>
        <!-- Points to your JAX-RS Application class -->
        <param-name>jakarta.ws.rs.Application</param-name>
        <param-value>com.acmeair.web.AcmeAirApp</param-value>
      </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcmeAirApp</servlet-name>
    <url-pattern>/rest/api/*</url-pattern>
  </servlet-mapping>
</web-app>
